---
---

@import "_archive";
@import "_colors";

$main-color: $navy;
$accent-color: $maroon;

$header-color: $blue;
$footer-color: $blue;

$main-font: 'Roboto', sans-serif;
$headline-font: 'Vesper Libre', cursive;
$headline-color: $maroon;

$reading-color: $white;
$reading-text-color: $navy;

$nav-background-color: $accent-color;
$nav-text-color: $main-color; 

$accent-hovered: $yellow;
$accent-active: lighten($accent-color, 40%);
$accent-active-hovered: lighten($accent-color, 80%);


*{
	box-sizing: border-box;
}

body{
	background-color: $main-color;
	margin:0;
	display: flex;
	flex-direction: row;
	font-family: $main-font;
	// flex-wrap: wrap;
}

header{
	min-height: 32px;
	background: $header-color;
	color: white;
	// border-bottom: 1px solid;
	width: 100%;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 2;

	a{
		color: white;
		text-decoration: none;
	}

}
footer{
	min-height: 200px;
	background:$footer-color;
	color: $white;
	// width: 100vw;
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
	padding: 1em;
	display:flex;
	flex-direction: column;
	// border-top: 1px solid;
	a{
		color: $yellow;
	}
}

main{
	flex-grow: 1;
	// background: lightcyan;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
	height: 100vh;

	.secret-menu{
		display: none;
		position: fixed;
		color: $yellow;
		// border: 1px solid black;
		padding: .6em;
		height: 36px;
		width: 36px;
		justify-content:center;
		align-items: center;
		background: $maroon;
		top: 36px;
		right: 36px;
		z-index: 1;
		font-size: 3em;
		border-radius: 3em;
		a{
			color: $yellow;
		}
	}

	article{
		flex-grow: 1;
	}
	article, section{
		// border-right: 1px solid;
		// border-left: 1px solid;
		// color: white;
		max-width: 720px;
		padding: 0 1em;
		// flex-grow: 1;
		width:100%;
		background-color: $reading-color;
		color: $reading-text-color;
		ul, pre{
			overflow: auto;
		}
		ul, ol{
			margin:0;
		}
		hr{
			border: none;
			border-top: 1px solid;
		}
		kbd, pre, code{
			padding: .25em .25em;
			border-radius: .5em;
			background: $black;
			color: $white;
		}
		table{
			border: 1px solid;
			overflow: auto;
			th{
				background:$accent-color;
				color: $white;
				font-weight: normal;
				padding: .25em;
			}
			td{
				border: 1px solid $navy;
			}
		}
		strong{
			font-weight: bold;
		}
		pre{
			background: $black;
			color: $white;
		}
		p{
			margin: .5em 0;
		}
		h1,h2,h3,h4,h5,h6{
			font-family: $headline-font;
			// margin:.5em 0;
			margin-bottom: .125em;
			margin-top: .75em;
			line-height: 1em;
			color: $headline-color;
		}
		h1{
			font-size: 3em;
		}
		h2{
			font-size: 2em;
		}
		h3{
			font-size: 1.5em;
		}
		h4{
			font-size: 1.25em;
		}
		h5{
			font-size: 1em;
		}
		h6{
			font-size: .75em;
		}
		a{
			color: $fuchsia;
			// text-decoration: none;
			font-style: italic;
		}
	}
	section.default{
		flex-grow: 1;
		width: 100%;
	}
	section:not(:empty){
		padding-bottom: 1em;
	}
}

body > nav{
	background: $accent-color;
	// width: 100vw;
	width: 96px;
	display: flex;
	flex-direction: column;
	// border-right: 1px solid;
	// justify-content: center;
	flex-shrink:0;
	align-items: center;
	position: relative;
	z-index: 2;
	a{
		min-height: 96px;
		width: 100%;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: $white;
		.fa{
			font-size: 2em;
			text-decoration: none;
		}
		&:hover{
			background: $nav-text-color;
			color: $yellow;
		}
		&.active{
			background-color: $yellow;
			color: $nav-text-color;
		}
		&.active:hover{
			background: $blue;
			color: $white;
		}
	}
}

header.in-body{
	display: none;
}

@media only screen and (max-width : 840px) {
	body{
		flex-wrap: wrap;
	}
	header.in-body{
		display: flex;
	}
	main{
		height: auto;
		min-height: 100vh;
		max-width: 100%;
		overflow: unset;

		.secret-menu{
			display: flex;
		}

	}
	header.in-main{
		display: none;
	}
}

@media only screen and (max-width : 840px) {
	body > nav{
		width: 100%;
		flex-direction: row;
		justify-content: space-around;
		// border-bottom: 1px solid;
		// border-right: none;
	}
}

@media only screen and (max-width : 736px){
	main{
		max-width: 100%;
		article, section{
			// border: none;
		}
	}
}

