defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: "default"
github: [metadata]
kramdown:
  input: GFM
  hard_wrap: false
gems:
  - jekyll-coffeescript
  - jekyll-paginate